button.button {
    transition: all 0.5 ease;
    background-color: #2185D0;
    border-radius: 4px;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

button.button:hover{
    background-color: #1678c2;
}